PORT=5000
MONGO_URI=mongodb_uri_here
JWT_SECRET=your_jwt_secret_here
FRONTEND_URL=http://localhost:5173
NODE_ENV=development

# Cloudinary Credentials
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# Initial Admin Credentials
INITIAL_ADMIN_EMAIL=admin@portalnoticias.com
INITIAL_ADMIN_PASSWORD=adminadminadmin
